Operators : operators are used to perform certain task/ operations. The values on which we perform the operation are called operands, and the task we are performing on them is represented by these operators. 

Types of operators : 
1. Mathematical/ Arithmetic operators : Arithmetic operators are used to perform mathematical operation like addition, substraction etc.
    1. Addition (+)
    2. Substraction (-)
    3. Multiplication (*)
    4. Division (/)
    5. Floor Division (//)
    6. Modulus (%)
    7. exponent (**)

2. Assignment operator (=): Assignment operators are used to assign some value. 
 e.g = , +=, -=, *=, /=, //=, %=, **=

3. Comparision operators : These are used for comparision of two values/variables
    1. Equal equal to (==) : It returns True if the two values are equal else it return False
    2. Not Equal to (!=) : It returns True if the first value is not equal to second else it return False
    3. Greater than (>) : It returns True if the first value is greater than second else False
    4. Less than (<) : It returns True if the first value is smaller than second else False
    5. Greater than or equal to (>=) : It returns True if the first value is either greater or equal to second value else it will return False
    6. Less than or equal to ( <= ) : It returns True if the first value is either less than or equal to second value else it will return False


4. Logical operators : 
    1. AND : It is used to check multiple conditions at a time and all the conditions should get satisfied. 
    2. OR : It is used to check multiple conditions at a time and atleast one of the given conditions should get satisfied.
    3. NOT : It reverse the output

5. Identity Operators : 
    1. is 
    2. is not
    

6. Membership operators : 
    1. in
    2. not in 

7. Bitwise operators : It is used to work with bits, it is used on integer values, which gets firstly converted to their binary form and then the bitwise operation is performed on them.

    1. Bitwise AND OPERATOR - &
    2. Bitwise OR OPERATOR  - |
    3. Bitwise NOT OPERATOR - ~
    4. Bitwise XOR OPERATOR - ^

In [1]:
# Addition
num1 = 100
num2 = 20
result = num1 + num2
result

120

In [2]:
# Substraction
num1 = 100
num2 = 20
result = num1 - num2
result

80

In [3]:
# multiplication
num1 = 100
num2 = 20
result = num1 * num2
result

2000

In [6]:
# Division
num1 = 110
num2 = 20
result = num1 / num2
result

5.5

In [11]:
# Floor Division
num1 = 39
num2 = 4
result = num1 // num2
result

9

In [8]:
# Modulus 
num1 = 110
num2 = 20
result = num1 % num2
result

10

In [14]:
# exponent (**)
base = 3
power = 4
exponent = base ** power
exponent

81

In [21]:
# Assignment operator 
number = 100
# number = number - 30
number +=30
print(number)

number -=30
print(number)

number *=5
print(number)

number /= 50
print(number)

number //=3
print(number)

number %= 2
number

130
100
500
10.0
3.0

1.0

In [22]:
number = 2
# number = number ** 4
number **= 4
number

16

In [24]:
# comparision operators : 
# 1. Equal equal to (==) 

number1 = 100
number2 = 200

print(number1 == 100)

True

In [25]:
# 2. Not equal to (!=)

number1 = 100
number2 = 200

print(number1 != 100)

False

In [26]:
# 3. Greater than (>)

number1 = 100
number2 = 200

print(number1 > number2)

False

In [27]:
# 4. Less than (<)

number1 = 100
number2 = 200

print(number1 < number2)

True

In [28]:
# 5. Greater than or equal to (>=) 

number1 = 100
number2 = 200

print(number1 >= number2)

# either number1> number2 or number1 == number2

False

In [32]:
# 6. Less than or equal to (<=) 

number1 = 100
number2 = 40

number1 <= number2

False

# Logical operators :

In [6]:
# AND OPERATOR : 
variable1 = 100
variable2 = 50
variable3 = 300

variable1 > 50 and variable2 > 20 and variable3 > 100
# true              false

True

In [4]:
# OR Operator : 
variable1 = 100
variable2 = 50

variable1 > 100 or variable2 > 100
# false              false

False

In [7]:
# NOT OPERATOR
variable1 = 100
variable2 = 50

not(variable1 > 100 or variable2 > 100)

True

In [8]:
var1 = 100
var2 = 150
print(var1 > 50 and var2 > 50)

True

In [13]:
# Membership operator : 
# 1. is

a = 100
b = 200

print(a is b)

False

In [14]:
# 2. is not

a = 100
b = 200

print(a is not b)

True

In [18]:
# Membership operator : 
# 1. in
lst = ["a","b","c","d","e"]
value = "p"

value in lst

False

In [21]:
# 2. not in

tuple1 = ("string",True, 20, 30.15, [1,2,3,4,5],100)
value = 200
value not in tuple1

True

In [22]:
# Bitwise operators : 
# 1. Bitwise AND Operator

a = 10
b = 5

a & b

0

In [23]:
# 2. Bitwise OR Operator

a = 10
b = 5

a | b

15

In [24]:
# Bitwise NOT Operator 
a = 10
b = 5

~(a & b)

-1

In [28]:
value = 100
binary = bin(value)
binary

'0b1100100'