set is a mutable datatype which contains unique collection of heterogeneous elements. sets do not have index since they are unordered, we cannot update any value in set but we can add or remove elements in a set. only immutable datatype elements can be a part of set.

In [3]:
# Defining a set : 
set1 = {1,2,3,4}
set1
set2 = set()
set2

set()

In [4]:
# Adding a new element to the set
set1.add(10)
set1

{1, 2, 3, 4, 10}

In [7]:
set1.pop()
set1

{3, 4, 10}

In [8]:
set1.remove(10)

In [10]:
set1.clear()
set1

set()

In [11]:
set1 = {1,2,3,4,56,6,7,8,8,91,12}
for i in set1:
    print(i)

1
2
3
4
6
7
8
12
56
91

In [12]:
# intersection : 
set1 = {1,3,4,2,5,6}
set2 = {5,6,7,8,9,10}
set1.intersection(set2)

{5, 6}

In [13]:
# union : 
set1 = {1,3,4,2,5,6}
set2 = {5,6,7,8,9,10}
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [15]:
# difference : 
set1 = {1,3,4,2,5,6}
set2 = {5,6,7,8,9,10}
set2.difference(set1)

{7, 8, 9, 10}

In [16]:
# symmetric difference
set1 = {1,3,4,2,5,6}
set2 = {5,6,7,8,9,10}
set1.symmetric_difference(set2)

{1, 2, 3, 4, 7, 8, 9, 10}

In [17]:
# superset : 
set1 = {1,3,4,2,5,6}
set2 = {4,5,6}
set1.issuperset(set2)

True

In [19]:
# subset : 
set1 = {1,3,4,2,5,6}
set2 = {4,5,6}
set2.issubset(set1)

True